@import "Breadcrumbs";
@import "Elements";

body {
  padding: 0;
  margin: 0;
}

body * {
  font-family: Helvetica;
}

.vertical-align-middle {
  vertical-align: middle;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.width-100 {
  width: 100%
}

.display-flex {
  display: flex;
}

.display-table {
  display: table;

  > * {
    display: table-row;

    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }
}